<div class="d-flex">
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <h3>Edit Student</h3>
        <form class="row d-flex justify-content-center my-3" (ngSubmit)="save()">
            <div class="col-md-8">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" class="form-control" name="name" required minlength="6" [(ngModel)]="student.name"
                    #name="ngModel">
                <div *ngIf="name.invalid" class="text-danger mt-2">
                    <div *ngIf="name.errors?.['required']">Name is required</div>
                    <div *ngIf="name.errors?.['minlength']">Name must be at least 6 characters long</div>
                </div>
            </div>
            <div class="col-md-8">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" name="address" id="address" placeholder="Enter student address"
                    required [(ngModel)]="student.address" #address="ngModel">
                <div *ngIf="address.invalid" class="text-danger mt-2">
                    <div *ngIf="address.errors?.['required']">Address is required</div>
                </div>
            </div>
            <div class="col-md-8">
                <label for="dob" class="form-label">Date of Birth</label>
                <input type="date" class="form-control" id="dob" name="dob" required [(ngModel)]="student.dob"
                    #dob="ngModel">
                <div *ngIf="dob.invalid" class="text-danger mt-2">
                    <div *ngIf="dob.errors?.['required']">Date of Birth is required</div>
                </div>
            </div>
            <div class="col-md-8">
                <label for="course" class="form-label">Course</label>
                <input type="text" class="form-control" id="course" placeholder="Enter selected course" name="course"
                    required [(ngModel)]="student.course" #course="ngModel">
                <div *ngIf="course.invalid" class="text-danger mt-2">
                    <div *ngIf="course.errors?.['required']">Course is required</div>
                </div>
            </div>
            <div class="col-md-8">
                <label for="tel" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="tel" placeholder="Ex: 07786532145" name="tel" required
                minlength="10" [(ngModel)]="student.tel" #tel="ngModel">
                <div *ngIf="tel.invalid" class="text-danger mt-2">
                    <div *ngIf="tel.errors?.['required']">Phone number is required</div>
                    <div *ngIf="tel.errors?.['minlength']">Phone number must be 10 characters long</div>
                </div>
            </div>
            <div class="col-8 d-flex align-items-center justify-content-center mt-3">
                <button class="btn btn-success w-100" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
