<div class="container bg-success m-0">
    <h1 class="h2 text-info text-center">Parent Component</h1>
    <div class="row row-cols-2 g-3 mt-4">
        <div class="col my-4 border border-dark border-5 ">
            <app-input-decorator-child [childMessage]="parentMessage"></app-input-decorator-child>
        </div>
        <div class="col my-4 text-light border border-5 border-light">
            <app-view-child></app-view-child>
            Message : {{viewChildMessage}}
        </div>
        <div class="col my-4 text-light border border-5 border-dark-subtle">
            <h3>This is from Event Emitter Componenet</h3>
            Event Message : {{outPutEmmitterMessage}}
            <app-event-emmitter-child (messageEvent)="receiveMessage($event)"></app-event-emmitter-child>
        </div>
        <div class="col my-4 text-light border border-5 border-danger-subtle">
            <h3>This is from sibiling component</h3>
            {{sibilingMessage}}
            <app-sibiling></app-sibiling>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
