<div class="container bg-success">
    <h1 class="h2 text-info">Parent Component</h1>
    <div class="d-flex align-items-center justify-content-center mt-4 flex-column">
        <div class="my-4">
            <app-input-decorator-child [childMessage]="parentMessage"></app-input-decorator-child>
        </div>
        <div class="my-4 text-light">
            <app-view-child></app-view-child>
            Message : {{viewChildMessage}}
        </div>
    </div>
</div>
<router-outlet></router-outlet>
