    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <h3 class="text-light pe-5 me-3">Private Base</h3>
                <div class="navbar-nav">
                    <a class="nav-link text-light" href="#">Student</a>
                    <a class="nav-link text-light" href="#">Course</a>
                    <a class="nav-link text-light" href="#">My Testing</a>
                </div>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
