<div class="border border-2 m-2 p-2 border-black">
    <h4 class="h4 text-center">This is from Resuable Date Picker Component </h4>
    <form [formGroup]="dateForm" (input)="onDateChange()"
        class="form-control d-flex align-items-center justify-content-center">
        <label class="form-label col-3">Select the date</label>
        <input type="tel" formControlName="day" placeholder="DD" class="form-control">
        <input type="tel" formControlName="month" placeholder="MM" class="form-control">
        <input type="tel" formControlName="year" placeholder="YYYY" class="form-control">
    </form>
</div>