<div class="d-flex">
    <div class="container d-flex flex-column align-items-center">
        <h3>Students List</h3>
        <div class="w-100">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">DOB</th>
                    <th scope="col">Course</th>
                    <th scope="col">Phone Number</th> 
                    <th scope="col">Option</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students">
                    <td>{{student.name}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.dob}}</td>
                    <td>{{student.course}}</td>
                    <td>{{student.tel}}</td>
                    <td><button class="btn btn-success px-5" (click)="editStudent(student)">Edit</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>