<div class="d-flex">
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <h3>Add Course</h3>
        <form class="row d-flex justify-content-center my-3" (ngSubmit)="save()">
            <div class="col-md-8">
                <label for="name" class="form-label">Course Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter course name" name="name" required
                    [(ngModel)]="course.name" #name="ngModel">
                <div *ngIf="name.invalid" class="text-danger mt-2">
                    <div *ngIf="name.errors?.['required']">Name is required</div>
                </div>
            </div>
            <div class="col-md-8">
                <label for="fees" class="form-label">Fees</label>
                <input type="text" class="form-control" id="fees" placeholder="Enter fees" name="fees" required
                    [(ngModel)]="course.fees" #fees="ngModel">
                <div *ngIf="fees.invalid" class="text-danger mt-2">
                    <div *ngIf="fees.errors?.['required']">Fees is required</div>
                </div>
            </div>
            <div class="col-md-8">
                <label for="duration" class="form-label">Duration</label>
                <input type="text" class="form-control" id="duration" placeholder="Enter course duration"
                    name="duration" required [(ngModel)]="course.duration" #duration="ngModel">
                <div *ngIf="duration.invalid" class="text-danger mt-2">
                    <div *ngIf="duration.errors?.['required']">Duration is required</div>
                </div>
            </div>
            <div class="col-8 d-flex align-items-center justify-content-center mt-3">
                <button class="btn btn-primary w-100" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>