<div class="d-flex">
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <h3>Edit Course</h3>
        <form class="row d-flex justify-content-center my-3" (ngSubmit)="save()" [formGroup]="courseForm">

            <div class="col-md-8">

                <label for="name" class="form-label">Course Name</label>

                <input type="text" class="form-control" id="name" placeholder="Ex: Angular" name="name"
                    formControlName="name" [(ngModel)]="course.name"
                    [ngClass]="{'is-invalid': courseForm.controls['name'].invalid && courseForm.controls['name'].touched}">

                <div *ngIf="courseForm.controls['name'].errors?.['required'] && courseForm.controls['name'].touched"
                    class="invalid-feedback">
                    Course name is required.
                </div>

            </div>

            <div class="col-md-8">

                <label for="fees" class="form-label">Fees</label>

                <input type="text" class="form-control" id="fees" placeholder="Ex: 20000" name="fees"
                    formControlName="fees" [(ngModel)]="course.fees"
                    [ngClass]="{'is-invalid':courseForm.controls['fees'].invalid && courseForm.controls['fees'].touched}">

                <div *ngIf="courseForm.controls['fees'].errors?.['required'] && courseForm.controls['fees'].touched"
                    class="invalid-feedback">
                    Fees is required
                </div>

                <div *ngIf="courseForm.controls['fees'].errors?.['pattern'] && courseForm.controls['fees'].touched"
                    class="invalid-feedback">
                    Please enter valid fees (number)
                </div>

            </div>

            <div class="col-md-8">

                <label for="duration" class="form-label">Duration</label>

                <input type="text" class="form-control" id="duration" placeholder="Ex: 2 Months"
                    name="duration" [(ngModel)]="course.duration" formControlName="duration"
                    [ngClass]="{'is-invalid':courseForm.controls['duration'].invalid && courseForm.controls['fees'].touched}">

                <div *ngIf="courseForm.controls['duration'].errors?.['required'] && courseForm.controls['duration'].touched"
                    class="invalid-feedback">
                    Duration is required
                </div>

            </div>

            <div class="col-8 d-flex align-items-center justify-content-center mt-3">

                <button class="btn btn-success w-100" type="submit">Update</button>

            </div>

        </form>
    </div>
</div>